body {
  font-family: Arial;
  background: #fafafa;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 40px;
}

.input-box, select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.btn {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: gold;
  color: black;
}

.table {
  width: 100%;
  margin-top: 20px;
}
